<%= form_with(model: genre) do |form| %>
  <% if genre.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(genre.errors.count, "error") %> prohibited this genre from being saved:</h2>

      <ul>
        <% genre.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group"> 
    <%= form.label :genre_image %>
    <%= form.file_field :genre_image, class: "form-control-file" %>
  </div>

  <div class="actions">
    <%= form.submit "Crear género", class: "btn btn-primary" %>
  </div>
<% end %>
