
<div class="container mt-5">
  <h1 class="text-center mb-4">Artistas y compositores</h1>
  <div class="d-flex justify-content-between mt-4"> 
    <%= link_to 'Nuevo artista', new_artist_path, class: 'btn btn-outline-primary btn-sm' %>
    <%= link_to "Volver a la colección", root_path, class: "btn btn-outline-primary btn-sm" %>
  </div>
  <hr>
  <br>

  <% if notice.present? %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <div class="row">
    <% @artists.each do |artist| %>
      <div class="col-md-2 mb-3">
        <div class="card h-100">
          <% if artist.artist_image.attached? %>
            <%= image_tag url_for(artist.artist_image), class: "card-img-top", alt: "Imagen de #{artist.name}" %>
          <% else %>
            <%= image_tag image_path("default.jpg"), class: "card-img-top", alt: "Imagen por defecto" %>
          <% end %>
          <div class="card-body d-flex flex-column align-items-center">
            <h5 class="card-title"><%= artist.name %></h5>
            <p class="card-text">Género: <%= artist.genre&.name || "Sin género" %></p> <%# Safe navigation for genre %>
            <div class="mt-auto">
              <%= link_to 'Ver', artist, class: 'btn btn-outline-primary btn-sm' %>
              <%= link_to 'Editar', edit_artist_path(artist), class: 'btn btn-outline-secondary btn-sm' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
