<% if action_name == 'home' %>
    <% content_for :sidebar do %>
        <%= image_tag "logo.png", alt: "", class: "img-fluid w-40 p-2"%>
        <hr class="border-light"> 
        <div class="px-2">
            <h5 class="text-white text-uppercase">FILTROS DE COLECCIÓN</h6>
            <br>
            <div class="form-group">
                <label for="genreSelect" class="text-white">Género</label>
                <%= form_tag home_path, method: :get do %>
                    <%= select_tag 'genre', options_from_collection_for_select(@genres, 'id', 'name', params[:genre]), 
                        class: 'form-control', include_blank: 'Todos', 
                        onchange: 'this.form.submit()' %>
                <% end %>
            </div>
            <div class="form-group">
                <label for="artistSelect" class="text-white">Artista</label>
                <select class="form-control" id="artistSelect">
                    <option selected>Todos</option>
                </select>
            </div>
            <div class="form-group">
                <label for="albumSelect" class="text-white">Álbum</label>
                <select class="form-control" id="albumSelect">
                    <option value="">Todos</option>
                    <% if params[:genre] && params[:genre] != '' %>
                        <% Album.where(genre_id: params[:genre]).each do |album| %>
                            <option value="<%= album.id %>"><%= album.name %></option>
                        <% end %>
                    <% else %>
                        <% Album.all.each do |album| %>
                            <option value="<%= album.id %>"><%= album.name %></option>
                        <% end %>
                    <% end %>
                </select>
            </div>
            <div class="form-group">
                <label for="yearSelect" class="text-white">Año</label>
                <select class="form-control" id="yearSelect">
                    <option selected>Todos</option>
                </select>
            </div>
        </div>
    <% end %>
<% end %>

<div id="mainContent" class="container-fluid"> 
    <!-- Encabezado -->
    <div class="row mt-4"> 
        <div class="col-md-12">
            <div class="d-flex align-items-center">
                <div class="logo-container">
                    <%= image_tag "music.png", alt: "", class: "img-fluid" %> 
                </div> 
                <div class="ml-3">
                    <h2 class="text-primary">Colección de música</h2> 
                </div>
            </div>
        </div>
        <hr class="w-100">
    </div>

    <!-- Botón CRUD -->
    <div class="floating-crud-btn-container">
        <button class="btn btn-primary floating-crud-btn" type="button" id="crudDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-plus"></i>  
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="crudDropdown">
            <a class="dropdown-item" href="/genres/index">Géneros</a>
            <a class="dropdown-item" href="#">Autores</a>
            <a class="dropdown-item" href="#">Albums</a>
        </div>
    </div>
    
    <!-- Grid de imágebnes -->
    <div class="row">
        <% @albums.each do |album| %>
        <div class="col-md-4">
            <div class="card">
                <% if album.cover_image.attached? %>
                    <%= image_tag album.cover_image, class: "card-img-top", alt: "Image 1" %>
                <% else %>
                    <img src="default_image.jpg" class="card-img-top" alt="Imagen por defecto">
                <% end %>
            </div>
        </div>
  <% end %>
    </div>

    <!-- Ventana para dar de alta un género -->
    <div class="modal fade" id="genreModal" tabindex="-1" role="dialog" aria-labelledby="genreModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            </div>
        </div>
      </div>
      
</div>