
<div id="mainContent" class="container-fluid"> 
  <p style="color: green"><%= notice %></p>

  <h1>Albums</h1>

  <table>

    <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="5"></th>
    </tr>
    </thead>

    <tbody>
      <% @albums.each do |album| %>
        <tr>
          <td><%= album.name %></td>
          <td><%= album.year %></td>
          <td><%= album.genre_id %></td>
          <td><%= album.author_id %></td>
          <td><%= link_to 'Ver', album %></td>  
          <td><%= link_to 'Editar', edit_album_path(album) %></td> 
        </tr>
      <% end %>
    </tbody>

  </table>

  <br>
  <%= link_to "New album", new_album_path %>
  <br><br>
  <%= link_to "Volver a la colección", root_path, class: "btn btn-secondary" %>
</div>