<div id="mainContent" class="container-fluid"> 

  <%= render @album %>
  <%= image_tag url_for(@album.cover_image) if @album.cover_image.attached? %> 

  <div>
    <%= link_to "Editar album", edit_album_path(@album) %> |
    <%= link_to "Regresar a albums", albums_path %>
    <%= button_to "Borrar", @album, method: :delete %>
  </div>
</div>

